td{
  background-color: #89c4f4;
  border: 1px solid black;
  width: 60px;
  height: 60px;
  color: white;
  text-align: center;
}

td:hover{
  background-image: url("fixedTarget.png");
}

td:active{
  background-image: url("explosion.png");
}

td.hitFail {
  background-image: url("waterSplash.png");
}

td.hitFront {
  background-image: url("shipfront.png");
}

td.hitBody {
  background-image: url("shipbody.png");
}

td.hitEnd {
  background-image: url("shipend.png");
}
